<div class="container">
  <div class="row">
    <div class="span2">
      <div class="func_column">
        <div class="write">
          <%= button_to "WRITE", new_message_path %>
        </div>
        <div class="inbox">
          <%= button_to "INBOX"  %>
        </div>
        <div class="outbox">
          <%= button_to "OUTBOX"  %>
        </div>

      </div>
    </div>
    <div class="span10">
      <table class="table">
        <tbody>
          <% @messages.each do |message| %>
            <tr>
              <td></td>
              <td><%= message.sender.name %></td>
              <td><%= message.body %></td>
              <td><%= message.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

