<div class="row" id="main">
  <%= render :partial => "layouts/subject_nav_menu" %> 

  <div class="span10 column">
    <div class="hero-unit">
      <h2><%= @survey.name %> survey results : </h2>  
    </div>
    <table class="table table-hover">
      <tr>
        <th>User name</th>
        <th>right answered</th>
        <th>out of</th>
        <th>date</th>
      </tr>
      <% @survey_results.each do |result| %>
      <tr>
        <td><%= result.user.name %></td> 
        <td><%= result.right_answered %></td> 
        <td><%= result.total %></td> 
        <td><%= result.created_at %></td>    
      </tr>
      <% end %>
    </table>
  </div>
</div>