<div class="login-form contact-us span3 hidden">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :id => "sign-in-form") do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>

    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <div><%= f.button "Sign in" %></div>

    <%= clear nil, :height => 20 %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end -%>
  <% end %>

 
</div>
