<h1>Tests list</h1>

<div class="container" >
  <%= form_for :control, :url => controls_path do |f| %>   
  <p>
    <%= f.text_field :name %>
  </p>  
  <span>
    <%= f.submit "create new" %>
  </span>
  <% end %>      
  <table class="container table table-hover" style="width: 500px;">
    <% @controls.each do |control| %>
      <tr>
        <td><%= control.name %></td>  
        <% if can? :update, control %>  
          <td><%= link_to 'Edit', edit_control_path(control) %></td> 
        <% end %>
        <% if can? :destroy, control %> 
          <td><%= link_to 'Destroy', control_path(control),method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <% end %> 
      </tr>
    <% end %>
  </table>
</div>