<div class="container">

  <%= clear nil, :height => 80 %>

  <div id="calendar">
    <h2 id="month">
      <%= link_to "", user_schedule_path(:date => @date.prev_month), {:style => "margin-right: 30px; font-size: 20px;", :class => "glyphicon glyphicon-chevron-left" }  %>
      <%= @date.strftime("%B %Y") %>   
      <%= link_to "", user_schedule_path(:date => @date.next_month), {:style => "margin-left: 30px; font-size: 20px;", :class => "glyphicon glyphicon-chevron-right"} %>
    </h2>

    <%= calendar @date do |date| %>
      <%= date.day %>
    <% end %>
  </div>

  <%= clear nil, :height => 170 %>

</div>
