<div class="container">

  <div id="calendar">
    <%= render 'month_nav' %>

    <%= calendar @date do |date| %>
      <%= link_to new_event_path(:day => date), :remote => true do  %>
          <div class="date-day">
            <%= date.day %>
          </div>
      <% end %>

      <%= render :partial => "event", :collection => @events_by_date[date] %>
    <% end %>

    <div class="popup span4 right hidden"> </div>
    <%= clear %>
  </div>

  <%= clear nil, :height => 70 %>

</div>
