<div class="contact-us">
  <div class="contact-form span4">

    <%= form_for @event, :html => {:class => 'row'} do |f| %>
      <%#= f.error_messages %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <div class="date_select">
        <%= f.label :starts_at, "Starts at" %>
        <%= f.text_field :starts_at, :value => (f.object.starts_at.strftime('%d-%m-%Y') if f.object.starts_at), :class => "pick_date" %> 
        <span class="inline-text"> at </span>
        <%#= f.select :start_time, am_pm_time_list, :selected => f.object.start_time.try(:strftime, '%H:%M') %>
        <%= f.time_select :starts_at %>
      </div>

      <div class="date_select">
        <%#= f.label :starts_at %>
        <%#= f.datetime_select :starts_at, :default => { :hour => 2.hours.from_now.hour, :minute => 0 }, :order => [:day, :month, :year] %>
      </div>

      <div id="is_periodical">
        <%= f.check_box :is_periodical, :class => "left" %>
        <%= f.label :is_periodical, "Recurrent" %>
      </div>

      <div class="date_select hidden" id="finishes_at_date">
        <%= f.label :starts_at, "Starts at" %>
        <%= f.text_field :starts_at, :value => (f.object.starts_at.strftime('%d-%m-%Y') if f.object.starts_at), :class => "pick_date" %> 
        <span class="inline-text"> at </span>
        <%#= f.select :start_time, am_pm_time_list, :selected => f.object.start_time.try(:strftime, '%H:%M') %>
        <%= f.time_select :starts_at %>
      </div>

      <%= f.label :user_ids, "Participants" %>
      <%= f.collection_select :user_ids, User.all(:conditions => ["id != ?", current_user.id], :order => :name), 
                                         :id, :name, {}, { :multiple => true } %>

      <%= clear %>

      <%= f.submit "Save", :class => "left" %>
      <%= link_to "Close", user_schedule_path, :remote => true, :class => "left light-button btn"  %>
    
      <% unless @event.new_record? %>
        <%= link_to "Delete", @event, :confirm => "Are you sure you want to delete this event?", :method => :delete, :class => "light-button btn-danger"  %>
      <% end %>
    
    <% end %>
  </div>
</div>

<script>
  function mark_current_date(){
    var d = new Date();
    var today = d.getDate();

    $(".datepicker-days .table-condensed td").each(function() {
      if($(this).html() == today && $(this).not( $(this).hasClass("old") || $(this).hasClass("new") ) ){
        $(this).addClass("current-date")
      }
    });
  }


  $('.pick_date').datepicker({
    weekStart: 1,
    format: 'dd-mm-yyyy'
  }).on('changeDate', function(){
    $(".datepicker").hide()
  }).on('click', function(){mark_current_date()});;

  

  // $(document).ready(function(){
  //   $('#event_user_ids').chosen()  
  // });


  $("#event_is_periodical").on('change', function(){
    $("#finishes_at_date").toggleClass("hidden")
  }); 

</script>
