<h1> Settings </h1>
<h5> Your role: <span class="violet"> <%= current_user.try :role %></span></h5>

<div class="contact-us container">
	<div class="contact-form span7">
		<%= form_for(@user, :url => url_for(:controller => 'settings', :action => 'update')) do |f| %>
			<%= f.error_messages %>

			<h4> Basic fields </h4>

			<%= f.label :name, 'Name' %>
			<%= f.text_field :name %>

			<%= f.label :email, 'Email' %>
			<%= f.email_field :email %>

			<%= f.label :mobile, 'Mobile' %>
			<%= f.phone_field :mobile %>

			
			<h4> Password changing </h4>

			<%= f.label :current_password, "Current password" %>
			<%= f.password_field :current_password %>

			<%= f.label :password, "New Password" %>
			<%= f.password_field :password, :autocomplete => "off"  %>
			
			<%= f.label :password_confirmation, "Confirm New Password" %>
			<%= f.password_field :password_confirmation %>
			
			<%= f.submit "Update" %>				
		<% end %>
	</div>
</div>
