<h1>survey list</h1>

<div class="container" >
  <% if can? :create,Survey %>
    <%= form_for :survey, :url => surveys_path do |f| %>
    <p>
      <%= f.text_field :name %>
    </p>  
    <span>
      <%= f.submit "create new" %>
    </span>
    <% end %>     
  <% end %> 
  <table class="container table table-hover" style="width: 500px;">
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <% if can? :update, survey %>
          <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <% end %>
        <% if can? :destroy, survey %>
          <td><%= link_to 'Destroy', survey_path(survey),method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %> 
      </tr>
    <% end %>
  </table>
</div>