<h1>Tests list</h1>

<div class="container" >
  <%= form_for :control, :url => tests_path do |f| %>   
  <p>
    <%= f.text_field :name %>
  </p>  
  <span>
    <%= f.submit "create new" %>
  </span>
  <% end %>      
  <table class="container table table-hover" style="width: 500px;">
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.name %></td>  
        <% if can? :update, test %>  
          <td><%= link_to 'Edit', edit_test_path(test) %></td> 
        <% end %>
        <% if can? :destroy, test %> 
          <td><%= link_to 'Destroy', test_path(control),method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <% end %> 
      </tr>
    <% end %>
  </table>
</div>